<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.2.6//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ls.dao.ArticleTypeDao">
    <resultMap id="articleType" type="cn.ls.bean.ArticleType">
        <id column="type_id" property="typeId" />
        <result property="typeName" column="type_name"/>
    </resultMap>
    <select id="findAllArticleType"  resultMap="articleType">
        SELECT *
        FROM articletype
    </select>
    <insert id="addArticleType" parameterType="String" statementType="PREPARED" keyProperty="id" useGeneratedKeys = "true">
        INSERT INTO articletype(type_name)
        VALUES (
            #{typeName}
        )
    </insert>
    <update id="editArticleType" parameterType="cn.ls.bean.ArticleType">
        UPDATE articletype
        SET type_name=#{typeName}
        WHERE type_id = #{typeId}
    </update>
    <delete id="deleteArticleTypeByIds" parameterType="Integer">
        delete
        from articletype
        where type_id in
        <foreach collection="array" item="typeId" open="(" close=")" separator=",">
            #{typeId}
        </foreach>

    </delete>
    <delete id="deleteOneType" parameterType="Integer">
        delete
        from articletype
        where type_id = #{typeID}
    </delete>
<!--    <select id="findArticleTypeById" parameterType="Integer" resultMap="articleType">
        select *
        from articletype
        <where>
            type_id=#{typeId};
        </where>
    </select>-->
</mapper>